$ cat .gitignore
#К шаблонам в файле .gitignore применяются следующие правила:
#Пустые строки, а также строки, начинающиеся с #, игнорируются.
#Можно использовать стандартные glob шаблоны.
#Можно начать шаблон символом слэша (/) чтобы избежать рекурсии.
#Можно заканчивать шаблон символом слэша (/) для указания каталога.
#Можно инвертировать шаблон, использовав восклицательный знак (!) 
#в качестве первого символа.
#Glob-шаблоны представляют собой упрощённые регулярные выражения, используемые командными интерпретаторами. Символ (*) соответствует 0 или более символам; последовательность [abc] — любому символу из указанных в скобках (в данном примере а, b или с); знак вопроса (?) соответствует одному символу; и квадратные скобки, в которые заключены символы, разделённые дефисом ([0-9]), соответствуют любому символу из интервала (в данном случае от 0 до 9). Вы также можете использовать две звёздочки, чтобы указать на вложенные директории: a/**/z соответствует a/z, a/b/z, a/b/c/z, и так далее.
# no .a files 
*.a
#	but do track lib.a, even though you're ignoring .a files above 
!lib.a
#	only ignore the root TODO file, not subdir/TODO 
/TODO
#	ignore all files in the build/ directory 
build/
#	ignore doc/notes.txt, but not doc/server/arch.txt 
doc/*.txt
# ignore all .txt files in the doc/ directory 
doc/**/*.txt